c-w = #fff
primary = #1a1a1a
panel-opacity = 0.9

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// Qr code printing styles

@media print
    html,body
        background-color: #fff !important
    main
        display: none !important
    body
        background-image: none !important
    .js-generated
        padding .5rem !important
        box-shadow: none !important
        min-width: 18rem !important
        max-width: 17rem !important
        min-height: 20rem !important
        // Force Background Images And Colors To Be Visible On Print
        // https://www.smashingmagazine.com/2013/03/tips-and-tricks-for-print-style-sheets/
        -webkit-print-color-adjust: exact
        print-color-adjust: exact
    .download-qr
        display none !important
    .qr-image-print
        height: 204px !important
        width: 204px !important
    .wifi-name
        font-weight: 600 !important
    @page
        size: A4 portrait
        margin: 0

//End print style

html, body
    display: flex
    font-family: 'Open Sans', sans-serif
    height: 100vh

*
    box-sizing: border-box

body
    margin: 0
    background-color: #efefef
    background-image: url(./img/qr.jpg)
    background-repeat: no-repeat
    background-size: cover
    padding: 5rem 0
    width: 100vh
    background-position: 0% 100%
    margin-left: 3rem


header
    padding: 1rem 3rem
    background-color: c-w
    box-shadow: 0px -1px 6px 0px rgba(0,0,0,0.75) inset
    opacity: .8

h1,h2,h3,h4,h5,h6
    margin: 0

input
    padding: 0.5rem
    margin-bottom: 0.5rem
    border: 1px solid #b6b2b2
    outline: none
    border-radius: 3px

    &:focus
        border-color: rgb(74, 74, 199)
    &.error
        border-color: #ff0000

input[type="radio"]
    cursor: pointer
    margin-left: 0


ul,li
    list-style-type: none

.flex
    display: flex

.flex-inline
    display: inline-flex

.flex-0
    flex: 0

.flex-1
    flex: 1

.flex-2
    flex: 2

.flex-3
    flex: 3

.flex-4
    flex: 4

.flex-column
    flex-direction: column

.flex-row
    flex-direction: row

.justify-end
    justify-content: end

.justify-center
    justify-content: center

.align-center
    align-items: center

.self-center
    align-self: center

.pos-r
    position: relative

.pos-a
    position: absolute

.download-qr
    color: #fff
    top: 2.5rem
    left: 1.8rem

.visibility-hidden
    visibility hidden

.overflow-auto
    overflow: auto

.fh
    height: 100%

.pa-all-1
    padding: 1rem

.pa-b-half
    padding-bottom: .5rem

.pa-l-1
    padding-left: 1rem

.pa-r-1
    padding-right: 1rem

.pa-r-half
    padding-right: .5rem

.pa-t-half
    padding-top: .5rem

.ma-t-1
    margin-top: 1rem

.ma-t-half
    margin-top: .5rem

.ma-t-0
    margin-top: 0

.ma-l-1
    margin-left: 1rem

.ma-l-11
    padding-left: 11rem

.ma-b-1
    margin-bottom: 1rem

.c-w-text
    color: c-w

.m-w-50
    max-width: 50%

.max-width-23
    max-width: 23rem

.min-height-17
    min-height: 17rem

.pointer-event
    pointer-events : none

.pointer-hand
    cursor: pointer

.hide
    display: none

.show
    display: block

[draggable]
    user-select: none

// Qr code styles

main
    max-width: 30%
    background: #ffffff
    color: #2e2e2e
    padding: 1.5rem
    border-radius: 4px
    min-width: 25rem
    box-shadow: 7px 10px 5px -5px rgb(0 0 0 / 75%)
    border: 1px solid #b6b2b2

small
    font-size: 12px

.js-generated
    background-color: #2e2e2e
    padding: 1rem
    color: #fff
    min-width: 20rem
    max-width: 20rem
    padding: 1.5rem
    border-radius: 4px
    box-shadow: 7px 10px 5px -5px rgba(0,0,0,0.75)
    min-height: 20rem
    min-width: 20rem

.container
    justify-content: center

.qr-image
    padding: 1rem 2rem
    border: 2px dashed

.info
    padding: 1rem
    background: #ececec
    border-radius: 3px
    margin-bottom: 0
    border: 1px solid #b6b2b2
    font-size: .85rem

.form-group label span
    font-size: .75rem

.title
    color: #2e2e2e

.Button.Button
    cursor: pointer
    border: none
    &span
        cursor: pointer

:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

.form-field input:focus {
    outline: none;
}

.form-field.error input {
    border-color: var(--error-color);
}

.form-field.success input {
    border-color: var(--success-color);
}

.form-field small {
    padding-bottom: .5rem
    color: var(--error-color);
}

.form-group span.required
    font-size: .65rem

// Gradients

gradients = {
	one 	: linear-gradient(135deg, #ecc344 0%, #e42d7f 100%), 		// yellow pink
	two 	: linear-gradient(135deg, #00c7c5 0%, #0088d7 100%), 		// aqua blue
	three   : linear-gradient(135deg, #855edd 0%, #63afd3 100%), 		// purple blue
	four 	: linear-gradient(135deg, #e32d76 0%, #648fe6 100%), 		// pink purple
	five 	: linear-gradient(135deg, #b6eb77 0%, #359ab6 100%) 		// blue green
}

body
	background-color: #0a1727

button
	color inherit
	text-decoration none
    appearance none
    outline none

.Button
	backface-visibility: hidden
	box-shadow: 0 6px 12px rgba(0, 0, 0, .4)
	color: #FFF
	display: block
	font-family: 'Roboto', sans-serif
	font-size: 1.125rem
	font-weight: 500
	letter-spacing: 0.0625rem
	margin-top: 1.25
	padding: 1.5625rem 2.1875rem
	position: relative
	overflow: hidden
	text-align: center
	text-transform: uppercase
	transform-style: preserve-3d
	will-change: transform
	z-index: 1
	&-mask
		position: absolute
		transition: transform .425s ease-in-out
		z-index: -1
		&.slides-left
			left: 0
		&.slides-right
			right: 0
	&-slides
		top: 0
		width: 200%
		height: 100%
	&-rotates
		top: 50%
		left: 50%
		width: 200%
		height: 600%
		transform: translate3d(-50%, -50%, 0)
	&:hover
		.Button-mask.slides-left
			transform: translate3d(-50%, 0, 0)
		.Button-mask.slides-right
			transform: translate3d(50%, 0, 0)
		.Button-mask.rotates-clockwise
			transform: rotate(180deg) translate3d(50%, 50%, 0)
		.Button-mask.rotates-c-clockwise
			transform: rotate(-180deg) translate3d(50%, 50%, 0)

.Graident
	&-one
		background: gradients.one
	&-two
		background: gradients.two
	&-three
		background: gradients.three
	&-four
		background: gradients.four
	&-five
		background: gradients.five

// Mobile

html.mobile {
    height: auto
}

body.mobile {
    height: auto
    padding: 0
    margin-left: 0
    background-image: none
}

.mobile main {
    max-width: 100vw
    min-width: 100vw
}

.mobile .container {
    flex-direction: column
}

.mobile .info {
    display: none
}

.mobile input {
    padding: 1rem
}

.mobile .gernated {
    display: flex
    width: 100vw
}

.mobile .js-generated {
    width: 100vw
    min-width: 100vw
    margin-left: 0
}