@media print {
  main,
  .qr-settings {
    display: none !important;
  }
  body {
    background-image: none !important;
  }
  .js-generated {
    padding: 0.5rem !important;
    box-shadow: none !important;
    min-width: 17rem !important;
    max-width: 17rem !important;
  }
}
html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #efefef;
  background-image: url("./img/qr.jpg");
  background-repeat-x: no-repeat;
  background-size: cover;
  padding: 5rem 0;
  height: 100vh;
  width: 100vh;
  background-position: 0% 100%;
  margin-left: 3rem;
}
header {
  padding: 1rem 3rem;
  background-color: #fff;
  box-shadow: 0px -1px 6px 0px rgba(0,0,0,0.75) inset;
  opacity: 0.8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
input {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #b6b2b2;
  outline: none;
  border-radius: 3px;
}
input:focus {
  border-color: #4a4ac7;
}
input.error {
  border-color: #f00;
}
input[type="radio"] {
  cursor: pointer;
}
ul,
li {
  list-style-type: none;
}
.flex {
  display: flex;
}
.flex-0 {
  flex: 0;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.justify-end {
  justify-content: end;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.self-center {
  align-self: center;
}
.pos-r {
  position: relative;
}
.valError {
  color: #f00;
  border: 1px solid #f00;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 3px;
}
.visibility-hidden {
  visibility: hidden;
}
.main {
  height: calc(100% - 4rem);
  padding: 2rem;
}
.overflow-auto {
  overflow: auto;
}
.fh {
  height: 100%;
}
.pa-all-1 {
  padding: 1rem;
}
.pa-b-half {
  padding-bottom: 0.5rem;
}
.pa-l-1 {
  padding-left: 1rem;
}
.pa-r-1 {
  padding-right: 1rem;
}
.pa-r-half {
  padding-right: 0.5rem;
}
.pa-t-half {
  padding-top: 0.5rem;
}
.ma-t-1 {
  margin-top: 1rem;
}
.ma-t-half {
  margin-top: 0.5rem;
}
.ma-t-0 {
  margin-top: 0;
}
.ma-l-1 {
  margin-left: 1rem;
}
.ma-l-11 {
  padding-left: 11rem;
}
.ma-b-1 {
  margin-bottom: 1rem;
}
.c-w-text {
  color: #fff;
}
.m-w-50 {
  max-width: 50%;
}
.max-width-23 {
  max-width: 23rem;
}
.pointer-event {
  pointer-events: none;
}
.pointer-hand {
  cursor: pointer;
}
[draggable] {
  user-select: none;
}
.scroll::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0,0,0,0.6);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.8);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0,0,0,0.9);
}
.material-icons {
  cursor: pointer;
}
.material-icons.small {
  font-size: 17px;
}
main {
  max-width: 30%;
  background: #fff;
  color: #2e2e2e;
  padding: 1.5rem;
  border-radius: 4px;
  min-width: 25rem;
  box-shadow: 7px 10px 5px -5px #000;
  border: 1px solid #b6b2b2;
}
small {
  font-size: 12px;
}
.js-generated {
  background-color: #2e2e2e;
  padding: 1rem;
  color: #fff;
  min-width: 20rem;
  max-width: 20rem;
  padding: 1.5rem;
  border-radius: 4px;
  box-shadow: 7px 10px 5px -5px rgba(0,0,0,0.75);
}
.container {
  justify-content: center;
}
.qr-image {
  padding: 1rem 2rem;
  border: 2px dashed;
}
.info {
  padding: 1rem;
  background: #ececec;
  border-radius: 3px;
  margin-bottom: 0;
  border: 1px solid #b6b2b2;
  font-size: 0.85rem;
}
.form-group label span {
  font-size: 0.85rem;
}
.title {
  color: #2e2e2e;
}
.Button.Button {
  cursor: pointer;
  border: none;
}
.Button.Buttonspan {
  cursor: pointer;
}
body {
  background-color: #0a1727;
}
button {
  color: inherit;
}
button text-decoration none {
  appearance: none;
  outline: none;
}
.Button {
  backface-visibility: hidden;
  box-shadow: 0 6px 12px rgba(0,0,0,0.4);
  color: #fff;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  margin-top: 1.25;
  padding: 1.5625rem 2.1875rem;
  position: relative;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  transform-style: preserve-3d;
  will-change: transform;
  z-index: 1;
}
.Button-mask {
  position: absolute;
  transition: transform 0.425s ease-in-out;
  z-index: -1;
}
.Button-mask.slides-left {
  left: 0;
}
.Button-mask.slides-right {
  right: 0;
}
.Button-slides {
  top: 0;
  width: 200%;
  height: 100%;
}
.Button-rotates {
  top: 50%;
  left: 50%;
  width: 200%;
  height: 600%;
  transform: translate3d(-50%, -50%, 0);
}
.Button:hover .Button-mask.slides-left {
  transform: translate3d(-50%, 0, 0);
}
.Button:hover .Button-mask.slides-right {
  transform: translate3d(50%, 0, 0);
}
.Button:hover .Button-mask.rotates-clockwise {
  transform: rotate(180deg) translate3d(50%, 50%, 0);
}
.Button:hover .Button-mask.rotates-c-clockwise {
  transform: rotate(-180deg) translate3d(50%, 50%, 0);
}
.Graident-one {
  background: linear-gradient(135deg, #ecc344 0%, #e42d7f 100%);
}
.Graident-two {
  background: linear-gradient(135deg, #00c7c5 0%, #0088d7 100%);
}
.Graident-three {
  background: linear-gradient(135deg, #855edd 0%, #63afd3 100%);
}
.Graident-four {
  background: linear-gradient(135deg, #e32d76 0%, #648fe6 100%);
}
.Graident-five {
  background: linear-gradient(135deg, #b6eb77 0%, #359ab6 100%);
}
